footer.footer {
  position: absolute;
  background-color: $alternate-bg;
  border-top: 1px solid darken($alternate-bg, 15%);
  min-height: $footer-height;
  left: $sidenavbar-width;
  bottom: 0;
  right: 0;
}
