@import 'bootstrap';
@import './**/*';
@import './*';

.frontend-navbar {
  margin-bottom: 50px;
}

.frontend-container {
  min-height: 300px;
  background-color: $gray-lighter;
}

.frontend-footer {

}
