%nav.navbar.navbar-light.frontend-navbar
  .pull-right
    - if policy(:backend).index?
      = link_to root_path, class: 'btn btn-primary-outline' do
        = t('frontend')
    = link_to(destroy_user_session_path, class: 'btn btn-danger-outline') do
      = t('logout')
