.container {
  z-index: 999;
  width: $sidenavbar-width;
  background-color: $sidenavbar-bg;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  position: relative;
  display: block;
}
