.container {
  z-index: 999;
  position: absolute;
  width: $sidenavbar-width;
  background-color: $sidenavbar-bg;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  position: relative;
  display: block;
}
