// This way we turn CSS Modules off and apply these css rules globaly
:global {
  .navbar .btn-link {
    color: lighten($brand-warning, 0%);
  }

  .btn + .btn {
    margin-left: 5px;
  }
}

.page {
  height: 100vh;
  display: flex;
}

.content {
  flex: 1 80%;
}
